<!-- <div class="container deep-orange lighten-1"> -->
<div class="navbar-fixed deep-orange lighten-1" id="myHeader">
  <div class="row">
    <div class="col s12 m12">
      <h3 class="center">Interview</h3>

    </div>
  </div>
</div>
<div #scrollMe class="content" style="overflow:scroll; height:400px;overflow-x: hidden;">
  <div class="row">
    <div class="col 10 m8 offset-s1 offset-m2">
      <ng-container *ngFor="let message of messages | async">
        <div id="msg" class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
          'to':   message.sentBy === 'user' }">
          {{message.content}}
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="footer">
  <div class="row">
    <div class="col s7 m7">
      <label for="nameField">Your Message</label>
      <input type="text" [(ngModel)]="formValue" (keyup.enter)="sendMessage()">
    </div>
    <div class="col s1 m1">
      <button class="btn-floating btn-medium blue" (click)="activateSpeechSearch()" [disabled]="!showSearchButton">
        <i class="large material-icons">mic</i>
      </button>
    </div>
    <div class="col s1 m1">
      <button class="btn-floating btn-medium green" (click)="start()">Start
      </button>
    </div>
    <div class="col s1 m1">
      <button class="btn-floating btn-medium green" (click)="restart()">Restart
      </button>
    </div>
    <div class="col s1 m1">
      <button class="btn-floating btn-medium red " (click)="exit()">
        Exit
      </button>

    </div>
    <div class="col s1 m1">
      <button class="btn-floating btn-medium green modal-trigger" data-target="modal1">Instructions
      </button>
    </div>
  </div>
</div>

<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Instructions</h4>
    <p> Before we proceed with the interview read the below instruction</p>
    <ol>
      <li>Answers should be in one or 2 sentence</li>
      <li>
      To restart interview in between the process, Click restart button or say restart or type restart
      </li>
      <li>To exit the interview process, Click Exit button or say exit or type Exit. Please answer few Question</li>
    </ol>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>




















<!-- <div class="header" id="myHeader">
    <div class="row">
        <div class="col s12 m12">
          <h1>CHATBOT</h1>
        </div>
      </div>
</div>

<div class="content">
<div class="row">
  <div class="col s8 m6 offset-s2 offset-m3">
    <ng-container *ngFor="let message of messages | async">
      <div class="message" [ngClass]="{'from':message.sentBY === 'bot','to':message.sentBy === 'user'}">
        {{message.content}}
      </div>
    </ng-container>
  </div>
</div>
</div>

<div class="footer">
  <div class="row">
    <div class="col s9 m9 offset-s1 offset-m1">
      <label for="nameField">Your Message</label>
      <input type="text" [(ngModel)]="formValue" (keyup.enter)="sendMessage()">
    </div>
    <div class="col s1 m1">
      <button class="btn-floating btn-large red" (click)="activateSpeechSearch()" [disabled]="!showSearchButton">
        <i class="large material-icons">mic</i>
      </button>
    </div>
  </div>
</div> -->